
// ---
// Base Site Styles
// ---

// Keep it mobile first, yo! Read this:
// http://www.abookapart.com/products/mobile-first
// Actually, just buy all of those books.

// Anyways, here's how I like to structure my content styles:


// Border box all the things:

* {
	 box-sizing: border-box;

}

// ---
// General Selectors
// ---





// ---
// Header
// ---
#contain-head{
    border-bottom: 1px solid $link-color;
}
// You might want to split these into your own partials!




// ---
// Main Site Content
// ---
//from responsive design aquent
html {
   height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


body {
    min-height: 100%;
    background: $white;
    height: 100%;
    padding: 0;
    margin: 0;
}

// using bootstrap layout.contain {
// 	max-width: $screen-md; // I'm using a pretty narrow container, you might want this to be $screen-lg depending on your layout.
// 	margin: 0 auto;
// }



// ---
// Media
// ---
img {
    max-width: 100%;
    &.portfolio-image{
    border: 1px solid $black;
   }
}


// ---
// Footer
// ---
footer{
    border-top: 1px solid $link-color;
    & > .footer{
        margin: $size-h1 auto;
        font-size: $size-h4;
      }
}


