
// ---
// Base Site Styles
// ---

// Keep it mobile first, yo! Read this:
// http://www.abookapart.com/products/mobile-first
// Actually, just buy all of those books.

// Anyways, here's how I like to structure my content styles:


// Border box all the things:

* {
	 box-sizing: border-box;

}

// ---
// General Selectors
// ---





// ---
// Header
// ---
#contain-head{
    border-bottom: 1px dotted $link-color;
}
// You might want to split these into your own partials!




// ---
// Main Site Content
// ---
//from responsive design aquent
html {
   height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


body {
    min-height: 100%;
    background: $white;
    //background: #757f7d;;
    height: 100%;
    padding: 0;
    margin: 0;
}

.article-body{
    display: block;
    &.contact{
    width: 40%;
    }
   // margin: 2rem auto;
}




// ---
// Media
// ---
img {
    max-width: 100%;
    &.portfolio-image{
    border: 1px solid $black;
     & .foo{
         border: 3px solid #d14caa;
     }

   }
}


// ---
// Footer
// ---
footer{
    border-top: 1px dotted $link-color;
    & > .footer{
        margin: $size-h1 auto;
        font-size: $size-h4;
      }
}


