
// ---
// home page styles
// ---

.poem-title{

}
.poem{
    display: block;
    padding:0 20px;
    & pre{
    overflow: visible;
    font-family: $serif;
    font-size: $size-h5;
    color: $grey-med;
    line-height: 1.4;
    //letter-spacing: .2rem;
    }

}

.home-image{
    display: block;
    //margin: 6px 0 10px 40px;
    margin: $size-h5 0 $size-h4 $size-h1*2;
}


