
// ---
// Nav
// ---
// I like this toggle menu a lot: https://codepen.io/bradfrost/pen/sHvaz

// Base nav styles here.


// .nav-item{
//     text-align:center;
//     width: 100px;
//     padding:.5rem;
// }

#contain-head {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: baseline;
    @include bp(md) {
        background: green;
        flex-direction: column;
    }
}
.site-title{
    flex: 1;
    margin-left: 9rem;
}

.nav-main{
    flex: 2;
    //width:900px;
   //border: 2px solid #b53157;
     margin-left: 10rem;
   // padding-left: 33%;
   //margin-left: 25%

}



.nav {
     @include unstyle-list();
     //display: block;

    // display: flex;
    // justify-content: space-around;
    // align-items: baseline;

}



.nav-item{
    font-family: $serif;
    font-size: $size-h4;
    letter-spacing: .2rem;
    padding-right: $size-h1;
}

.nav-items {
    @include unstyle-list;
    transition: 0.5s ease all;
    //border: 2px solid #c05d05;//ora

    @include bp(med) {
        // Make nav horizontal
        & > .nav-item{
            display: inline-block;
        }

    }

}



////////////lara's dropdown from demo

// .nav-main {

//     // Mobile nav styles
//     max-height: 0;
//     overflow: hidden;
//     transition: all 0.75s ease;
//     margin-top: $size-h2;

//     // Open nav styles
//     &.active {
//         background-color: purple;
//         max-height: $screen-md;
//         overflow: visible;
//     }

//     // Larger screens layout
//     @include bp(md) {
//         overflow: visible;
//         max-height: none;
//     }
// }


.nav-item-link,
.nav-drop-link {
    //@include upperAndspace;
    //border: 2px solid #b11c6c;//pink
    padding: $size-h6;
    display: block;

    &:hover {
        //background-color: $color-accent-light;
        //color: $white;
        text-shadow: 2px 2px 2px rgba(239, 201, 76, .5);
    }
}


// Link to open the nav

// .nav-open-link {
//     border: solid 2px #1ab141;//green

//     @include bp(md) {
//         display: none;
//     }

//     &.active {
//         background-color: blue;
//     }
// }

// // Dropdown Nav

.nav-drop {
 //border: 2px solid #3988c0; //blue
    // Hide the dropdown
    max-height: 1px;
    overflow: hidden;
    @include unstyle-list;
    //width: 100%;

    // @include bp(md) {
        // Dropdown goes below parent item
        text-align: left;
        position: absolute;
        z-index: $z-top;
    // }
}

.nav-drop-item {
    background-color: $white;
    display: block;
}

.nav-item{
    position: relative;
    &:hover{
        .nav-drop{
          max-height: 62em;
          overflow: visible;
        }
    }
}


.nav-drop:hover {
    max-height: 62em;
    overflow: visible;
    //border: 1px solid #a034c0; //purple
}







///TODO make break point for vertical display where nav will have flex-direction column as will contain-head (parent of nav and logo header)

	// // A breakpoint for the larger screens
	// @include bp(md) {

	// 	li {
	// 		display: inline-block;
	// 		padding-right: $h4;

	// 		&:last-child {
	// 			padding-right: 0;
	// 		}
	// 	}




