
// ---
// Typography
// ---

// I'm going to include some styles here, cause I like how I do it.
// Note that I also include a placeholder selector (see _extends.scss) for each. This is so I can easily change the size of other type elements that may not necessarily be h1's, et al.


// It's a great idea to use Webfont Loader instead of just including your webfonts them in the <head>. In that case, you'd use the $body-font-fallback and apply the real $body-font once the active class is added with the loader. That's what's in the commented section.
// OMG I'm so confused. Read more here: https://github.com/typekit/webfontloader

// Or, you know, just use this:
body {
	font-family: $body-font;
    font-size: 18px;
    line-height: 1.2;
    color: $black;

}

// Webfont loader magic (uncomment the above body style if using this):
// body {
// 	font-family: $body-font-fallback;
// 	line-height: $line-height-base;

// 	.wf-active & {
// 		font-family: $body-font;
// 	}
// }

a,
a:visited,
a:link {
	color: $link-color;
	text-decoration: none;

	&:hover, &:focus {
		color: $link-hover;
	}

	&:active {
		color: $link-active;
	}
}

h1, h2, h3, h4, h5, h6 {
	line-height: $line-height-base;
	font-family: $heading-font;
	margin-bottom: 0;
    @include upperAndspace();
}

h1 {
	font-size: $size-h1;
	margin-top: $size-h3;
}

h2 {
	font-size: $size-h2;
	margin-top: $size-h4;
}

h3 {
	font-size: $size-h3;
	margin-top: $size-h4;
}

h4 {
	font-size: $size-h4;
	margin-top: $size-base;
}

h5 {
	font-size: $size-h5;
	margin-top: $size-base;
}

h6 {
	font-size: $size-h6;
	margin-top: $size-base;
}

p {
	margin-top: $size-base;
	font-size: $size-base;
}

small {
	font-size: $size-sml;
}
// these for header don't need  own scss file
.site-title-sub{
    font-size: $size-h4;
    color: $grey-med;
    letter-spacing: .4rem;
}

a.site-title-link{
    color:$black;
}

.credit{
    color: $grey-med;
    font-family: $serif;
    font-style: italic;
    font-size: $size-h6;

}


.caption{
   @extend .credit;
    line-height: 1.2;
    text-transform: lowercase;
    letter-spacing: .01em;
}

.poem{
    display: block;
    padding:0 20px;
    // not sure why this hung out to left when large media query was
    // added to grid (Lara's extracted BS grid)
    padding-left: 6rem;
    & pre{
    overflow: visible;
    font-family: 'Roboto Slab';
    font-weight: 300;
    font-size: $size-h5;
    color: $grey-med;
    line-height: 1.4;
    // overwrites of BS pre
    padding: 0;
    margin: 0;
    background-color: $white;
    border: none;
    border-radius: 0px;
    letter-spacing: .03rem;
    }

}


