{% extends "base.twig" %}
{% block content %}
    <div class="content-wrapper container">
        <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
            <section class="article-content">
                <div class='row'>
                  <div class="article-body">
                        {# http://flickity.metafizzy.co/#getting-started  see page-gallery#}
                        <h3>&ldquo;Fragments&rdquo;</h3>
                        <p class='caption'>[click on image to view enlarged]</p>
                         {% include 'includes/simple-gallery.twig' %}
              </div>
            </div>
        </section>
    </article>
    </div><!-- /content-wrapper -->
{% endblock %}