{% extends "tease.twig" %}

{% block content %}
	<h2>this is a tease!<a href="{{post.link}}">{{post.title}}</a></h2>
	<p>{{post.get_preview(25)}}</p>
	{% if post.thumbnail.src %}
		<img src="{{post.get_thumbnail.get_url |resize(400, 600)}}" />
	{% endif %}
{% endblock %}